$primary-color: #286bff;

$title-color: #0d1628;
$text-color: #616773;
$text-muted-color: #abaeb4;

// 页边距
$page-margin: 24px;

$theme_header_color: #121722; //header 颜色
$theme_bg_color: #181d29; // 整体的背景色
$theme_module_color: #2b313f; //单个模块的背景色
$theme_module_small_color: #212633; //单个模块里面的小模块的背景色
$theme_module_radius: 12px; //单个模块的挫角
$font_light_color: #888a94; //字体较淡的颜色
$font_op_white: rgba(255, 255, 255, 0.69); //字体透明度.69
$inp_light_suffix_color: #ceced0; //input 输入框的图片颜色
$tree_selected_color: #286bff; // 菜单选中的颜色

$boader_color_1: #4b5166; //元素边框 描边颜色
$font_style_one: #888a94; //字体颜色
$font_style_two: #ceced0; //字体颜色
$font_style_three: #f99300; // 字体颜色
